div.background {
	background-color: #fff;
	background-image: url("../images/pexels-photo-297755.jpeg");
	background-size: 100%;
	background-repeat: no-repeat;
	/*position: fixed;*/
	opacity: 0.2;
}

.box-display {
	border: 5px;
	border-color: 000000;
	box-sizing: border-box;
}

#feature-card {
	height: 300px;
	padding: 24px;
	margin: 0.5rem 0 1rem 0;
}

#box-fill-height {
	height: 100%;
}

#feature-info {
	width: 60%;
}

.btn-round {
	border-radius: 50%; 
}

/*FONT OPTIONS*/

.roboto-slab {
	font-family: 'Roboto Slab', serif;
}

.didact-gothic {
	font-family: 'Didact Gothic', sans-serif;	
}

.rubik-mono-one {
	font-family: 'Rubik Mono One', sans-serif;	
}

.montserrat-subrayda {
	font-family: 'Montserrat Subrayada', sans-serif;	
}

.quicksand {
	font-family: 'Quicksand', sans-serif;
}
