.box-display {
	border: 5px;
	border-color: 000000;
	box-sizing: border-box;
}

#feature-card {
	height: 300px;
	padding: 24px;
	margin: 0.5rem 0 1rem 0;
}

#box-fill-height {
	height: 100%;
}

#feature-info {
	width: 60%;
}